.main {
    background: #eee;
}

.mUserCenterHeader {
    padding-left: .3rem;
    padding-top: .63rem;
    height: 2.7rem;
    background: #fff url(https://m.youxiake.com/static/img/img1.a81f2d5.png) 50% no-repeat;
    background-size: cover;
}

.mUserCenterHeader .header__box {
    display: flex;
    align-items: center;
}

.mUser__container {
    display: flex;
}

.Orders__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.mUser__container img {
    width: .64rem;
    height: .64rem;
    margin-bottom: 5px;
}

.Orders__container {
    flex: 1;
    padding: 13px 0 0;
}

.mUserCenterHeader .header__box .header__avatar {
    margin-right: .25rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #aaa url(../../img/login.png) 50% no-repeat;
    background-size: cover;
}

.mUserCenterHeader .header__box .header__login {
    position: relative;
    font-size: .44rem;
    font-weight: 700;
    color: #000;
}

.mUserCenterHeader .header__box .header__login span {
    position: absolute;
    left: 0;
    bottom: -.7rem;
    width: 3.3rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .24rem;
    color: #fff;
    border-radius: .25rem;
    background: linear-gradient(90deg, #ff6000, #ffa32c);
}

.mUserCenterOrders {
    padding: .4rem .2rem .4rem .3rem;
    background: #fff;
}

.mUserCenterOrders .mUserCenterOrders__head {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.mUserCenterOrders .mUserCenterOrders__head b {
    font-size: .32rem;
    color: #000;
}

.mUserCenterOrders .mUserCenterOrders__container .mUserCenterOrders__box:first-child div {
    background-image: url(../../img/nav.png);
}

.mUserCenterOrders .mUserCenterOrders__head span:after {
    content: "";
    display: inline-block;
    margin-left: .05rem;
    width: .1rem;
    height: .18rem;
    background: url(../../img/arrowicon.png) 50% no-repeat;
    background-size: 100% 100%;
}

.mUserCenterOrders .mUserCenterOrders__container .mUserCenterOrders__box div {
    position: relative;
    width: .64rem;
    height: .64rem;
    border-radius: 50%;
    background: 50% no-repeat;
    background-size: 100% 100%;
}

.mUserCenterWallet {
    margin-top: .2rem;
    padding: 0 .2rem 0 .3rem;
    background: #fff;
}

.mUserCenterWallet .mUserCenterWallet__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .88rem;
    font-size: .32rem;
    font-weight: 700;
    color: #000;
}

.mUserCenterOrders .mUserCenterOrders__container .mUserCenterOrders__box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .3rem;
}

.weui-mask {
    background: rgba(0, 0, 0, .6)
}

.weui-mask, .weui-mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}

.weui-toast {
    position: fixed;
    z-index: 5001;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: hsla(0, 0%, 7%, .7);
    text-align: center;
    border-radius: 5px;
    color: #fff
}

.weui-icon_toast {
    margin: 22px 0 0;
    display: block
}

.weui-icon_toast.weui-icon-success-no-circle:before {
    color: #fff;
    font-size: 55px
}

.weui-toast__content {
    margin: 0 0 15px
}

.mUserCenterService {
    margin-top: .2rem;
    padding: .4rem .2rem 0 .3rem;
    background: #fff;
}

.mUserCenterService .mUserCenterService__head {
    font-size: .32rem;
    font-weight: 700;
    color: #000;
}

.mUserCenterService .mUserCenterService__container .mUserCenterService_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mUserCenterService_row img {
    width: .5rem;
    height: .5rem;
}

.mUserCenterService_row a {
    padding-bottom: 10%
}

.mUserCenterService .mUserCenterService__container .mUserCenterService_row .mUserCenterService__box span {
    margin-top: .15rem;
    font-size: .24rem;
    color: #333;
}

.mUserCenterService_row .mUserCenterService__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

.mUserCenterWallet {
    margin-top: .2rem;
    padding: 0 .2rem 0 .3rem;
    background: #fff;
}

.mUserCenterWallet .mUserCenterWallet__head i {
    display: inline-block;
    width: .1rem;
    height: .18rem;
    background: url(../../img/arrowicon.png) 50% no-repeat;
    background-size: 100% 100%;
}

.mUserCenter__logout {
    margin: 0 auto;
    margin-top: .5rem;
    width: 5.36rem;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    font-size: .3rem;
    color: #333;
    border: 1px solid #ddd;
    border-radius: .1rem;
    background: #fff;
}

.header__user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1rem;
}

.header__user .user__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__user .user__name div {
    margin-right: .3rem;
    max-width: 2.7rem;
    font-size: .44rem;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header__user .user__name i {
    position: relative;
    display: inline-block;
    width: .37rem;
    height: .37rem;
    background: url(../../img/bianxie.png) 50% no-repeat;
    background-size: 100% 100%;
}

.header__user .user__name i span {
    position: absolute;
    left: -.94rem;
    top: -.6rem;
    width: 3.06rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    border-radius: .25rem;
    font-size: .24rem;
    font-style: normal;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#ff6000), to(#ffa32c));
    background: linear-gradient(90deg, #ff6000, #ffa32c);
}

.header__user .user__name i span:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -.1rem;
    margin-left: -.1rem;
    width: .19rem;
    height: .1rem;
    background: url(../../img/icon.png) 50% no-repeat;
    background-size: 100% 100%;
}

.header__box .header__user .user_level {
    display: flex
}

.header__box .header__user .user_level span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__user .user_level span {
    margin-right: .15rem;
    padding-right: .15rem;
    height: .3rem;
    border-radius: .15rem;
    font-size: .2rem;
    color: #d8ab78;
    background: #000 url(../../img/tj.png) 0 no-repeat;
    background-size: .77rem .3rem;
}

.header__user .user_level span:before {
    content: "";
    display: inline-block;
    margin-left: .15rem;
    width: .3rem;
    height: .21rem;
    background: url(../../img/icon1.png) 50% no-repeat;
    background-size: .3rem .21rem;
}

.header__user .user_level i {
    padding-left: .4rem;
    padding-right: .15rem;
    height: .3rem;
    line-height: .3rem;
    font-size: .2rem;
    font-style: normal;
    color: #000;
    border-radius: .15rem;
    background: #fff2b3 .15rem no-repeat;
    background-size: .2rem .2rem;
}